.all-freelancer-main-container {
  min-height: 100vh;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.all-freelancers-head {
  font-size: 30px;
  font-weight: bold;
  color: #5bbcff;
  margin-top: 20px;
  text-align: center;
}

.all-freelancers-data {
  width: 100%;
  margin-top: 20px;
  padding: 10px 50px;
  padding-bottom: 50px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.freelancer-details {
  padding: 10px;
  border-radius: 6px;
  width: 320px;
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1714812959/12188678_4907157_xi7zcm.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.freelancer-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.freelancer-details-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.freelancer-text {
  font-size: 14px;
  font-weight: bold;
  color: #525ceb;
}

.highlight-info {
  color: #3d3b40;
  text-decoration: none;
}

.hour-rating {
  color: #00be4d;
}

.profile-url {
  color: #535962;
}

.message-me-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0f0f0f;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  height: 36px;
  width: 100%;
  margin-top: 10px;
}

.data-container {
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  background-color: beige;
}
.freelancer-bio-head {
  font-size: 16px;
  color: #5bbcff;
  text-align: center;
}
.freelancer-bio-desc {
  font-size: 14px;
  color: #0f0f0f;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .all-freelancers-data {
    padding: 10px 25px;
  }
  .all-freelancers-head {
    font-size: 20px;
  }
  .freelancer-text {
    font-size: 12px;
  }
  .freelancer-details {
    width: 100%;
  }
  .data-container {
    width: 280px;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .all-freelancers-data {
    padding: 10px 50px;
  }

  .freelancer-details {
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1219px) {
  .freelancer-details {
    width: 280px;
  }
}
