.all-jobs-main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.all-jobs-data-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 20px;
  gap: 20px;
}

.jobs-info-container {
  width: 600px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1714822117/3428144_60241_eplnsf.jpg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.job-title-due-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job-title-text {
  font-size: 14px;
  font-weight: 600;
  color: #285778;
}

.job-title-highlight {
  color: #0f0f0f;
  text-decoration: none;
}

.job-price {
  font-size: 14px;
  font-weight: 600;
  color: #3fa500;
}

.due-date {
  color: #e72929;
}

.project-link {
  color: #008dda;
  font-weight: 500;
  margin-left: 10px;
  max-width: 450px;
  display: inline-block;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.link-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .jobs-info-container {
    width: 350px;
    padding: 6px;
  }

  .project-link {
    width: 240px;
    font-weight: 400;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .jobs-info-container {
    width: 360px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1219px) {
  .jobs-info-container {
    width: 450px;
  }
}
