.error-main-container {
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1714992358/7967792_3819287_sumnjt.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
