.main-home-container {
  height: 100vh;
}

.banner-container {
  height: 90%;
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
}

.banner-img {
  width: 550px;
  height: 350px;
  border-radius: 16px;
}

.banner-info-container {
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-head {
  font-size: 50px;
  font-weight: bold;
}
.banner-qn {
  font-size: 30px;
  font-weight: bold;
}

.home-action-container {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.banner-btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  background-color: #5bbcff;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .banner-head {
    font-size: 30px;
    text-align: center;
  }
  .banner-qn {
    font-size: 20px;
    text-align: center;
  }
  .banner-btn {
    font-size: 12px;
    padding: 2px;
    border-radius: 4px;
    height: 36px;
  }
  .banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 25px;
  }
  .banner-img {
    order: 2;
    width: 90%;
    height: fit-content;
  }
  .banner-info-container {
    width: 90%;
    height: fit-content;
  }
  .home-action-container {
    width: fit-content;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner-img {
    width: 50%;
  }
  .banner-info-container {
    width: 350px;
  }
  .banner-head {
    font-size: 30px;
  }
  .banner-qn {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-img {
    width: 500px;
    height: 300px;
  }
  .banner-info-container {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .banner-img {
    width: 50%;
    height: fit-content;
  }
  .banner-info-container {
    width: 600px;
  }
  .banner-head {
    font-size: 60px;
  }
  .banner-qn {
    font-size: 40px;
  }
}
