.chat-main-container {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1711642517/wallpaperflare.com_wallpaper_dom1hj.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-user-profile-container {
  background-color: #0f0f0f;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.chat-username {
  font-size: 16px;
  font-weight: 600;
  color: #7ea1ff;
}

.chat-profile-img {
  height: 40px;
  width: 50px;
}

.chat-input-container {
  background-color: #0f0f0f;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.chat-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
.chat-submit-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}
