.nav-main-container {
  width: 100%;
  height: 60px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eef7ff;
  position: sticky;
  top: 0;
}
.freelance-logo {
  width: 120px;
}

.freelance-logo:hover {
  width: 140px;
  transition: all;
  transition-duration: 300ms;
}

.user-action-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

.nav-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #5bbcff;
  width: 50px;
  height: 30px;
  margin-right: 6px;
}
.nav-action-container {
  display: flex;
  align-items: center;
}
.profile-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #00070b;
  font-size: 25px;
  text-align: center;
  margin-right: 6px;
}

/* popup */

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popup-content {
  height: 100px;
  border-radius: 10px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .nav-main-container {
    padding: 10px 25px;
  }
}
