.not-found-main-container {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1714978222/7740133_3737258_p2hu7t.jpg);
  background-position: center;
  background-size: cover;
}
